@media (min-width:1280px) and (max-width: 1365px)
{
    
}@media (min-width:1280px) and (max-width: 1365px)
{
    
}
@media (min-width:1280px) and (max-width: 1365px)
{
    
}
@media (min-width:1366px) and (max-width: 1439px)
{
    
}
@media (min-width:1440px) and (max-width: 1535px)
{
    
}
@media (min-width:1536px) and (max-width: 1919px)
{
    
}


body
{
    margin: 0;
    padding: 0; 
    font-family: 'Montserrat', sans-serif;
}


/* Homepage */

.homepage
{
    position: relative;
    width: 100%;
    height: 100%;
    
    
}

.logo 
{   
    position: relative;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h3
{
    top: 104%;
    left: 27%;
    position: absolute;
    font-size: 18pt;
    color: #3c73a4;
}

.logoFace
{
    position: absolute;
    width: 10%;
    height: 56%;
    top: 50%;
    left: 30%;
}

.logoTitle
{
    width: 21%;
    position: relative;
    height: 20%;
    top: 60px;
    left: 1%;
}



.productPicture
{   
    position: relative;
    margin-top: 11%;
    width: 50%;
    left: 26%;
}


/* 2nd */

.secondPage
{
    background: #EFEFEF;
}

.secondPage h1,p
{
    text-align: center;
}

.block
{   
    border:solid 2px rgb(77, 76, 76);
    margin: 10px;
    width: 200px;
    height: 130px;
    background: white;
}

.dateBlock
{
    width: 200px;
    height: 100px;
    background: white;
    border: solid 2px rgb(77, 76, 76);
    margin-left: 86%;
}


/* 3rd */
.thirdPage
{
    background: white;
}

/* 4th */ 

.fourthPage
{
    background: #EFEFEF;
    position: relative;
}

.fourthPage h1
{
    padding: auto;
}

.fourthPage h1,p 
{
    text-align: center;
    
}

.sell
{
    display: flex;
    justify-content: center;
}

.sellMila
{
    width: 42%;
    height: 20%;
    margin: 5%;
    padding-right: 40%;
}

.sellText
{
    text-align: center;
    width: 25%;
    position: absolute;
    top: 22%;
    left: 60%;
    font-size: 19pt;
    font-family: 'Montserrat', sans-serif;
}